<div ng-controller="AlertCtrl">
    <script type="text/ng-template" id="alert.html">
          <div ng-transclude></div>
        </script>

    <div uib-alert ng-repeat="alert in $parent.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

</div>
<div ng-cloak layout="column" layout-align="start" ng-cloak>
    <form name="trackForm">
        <md-content layout-padding  class="md-loginTransparent">
            <h3 class="md-headline">{{formMessage}}</h3>
            <div layout="row" layout-align="start" ng-cloak>
                <md-input-container>
                    <md-select ng-model="pick.league" md-selected-text="getSelectedText();" placeholder="League">
                        <md-optgroup label="leagues">
                            <md-option ng-value="league" ng-repeat="league in leagues">{{league}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="start" flex>
                <img ng-src="{{pick.pickLogo}}" class="md-avatar md-avatar-size" />
                <!-- <img ng-src="{{pick.pickLogo}}" class="md-avatar md-avatar-size" alt="{{pick.pickTeam}}" /> -->
            </div>
            <div layout="row" layout-xs="column" layout-align="start" flex>
                <div flex="20">
                    <div search-input-text-field-select-list visible="true" label='Winning team' label2='{{messageOnOpen}}' name='pickTeam' items="teamsOutcomeList"
                        bind="pick.pickTeam" validate="setFormPopulated()"></div>
                </div>
                <div flex="15">
                </div>
                <div flex="grow">
                    <md-input-container class="md-block">
                        <label>Pick Money Line</label>
                        <input type="number" step="any" name="pickMoneyLine" ng-model="pick.pickMoneyLine" min="-1000" max="10000" ng-blur="setFormPopulated()"
                        />
                        <div ng-messages="trackForm.wager.$error" md-auto-hide="false">
                            <div ng-message="min">
                                Money Line can't be less than -1000.
                            </div>
                            <div ng-message="max">
                                Max money line is 10000
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="15">
                </div>
                <div flex="grow">
                    <md-input-container class="md-block">
                        <label>Pick Line</label>
                        <input type="number" step="any" name="pickLine" ng-model="pick.pickLine" min="-20" max="20" ng-blur="setFormPopulated()"
                        />
                        <div ng-messages="trackForm.wager.$error" md-auto-hide="false">
                            <div ng-message="min">
                                Pick Line can't be less than -20.
                            </div>
                            <div ng-message="max">
                                Pick line max is 20
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="10">
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="start" flex>
                <div flex="45">
                    <div search-input-text-field-select-list visible="true" label='Visiting team' label2='{{messageOnOpen}}' name='visitingTeam'
                        items="teams" bind="pick.visitingTeam" validate="setFormPopulated()"></div>
                </div>
                <div flex="5" hide-xs hide-sm>

                </div>

                <div flex="45">
                    <div search-input-text-field-select-list visible="true" label='Home team' label2='{{messageOnOpen}}' name='homeTeam' items="teams"
                        bind="pick.homeTeam" validate="setFormPopulated()"></div>
                </div>
                <div flex="5" hide-xs hide-sm>

                </div>
            </div>
            <div layout="row" layout-align="start" flex>
                <md-input-container class="md-block">
                    <label>Event Date</label>
                    <md-datepicker ng-model="pick.eventDate" md-placeholder="Enter event date" ng-blur="setFormPopulated()"></md-datepicker>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Expert Commentary:</label>
                <textarea ng-model="pick.description" md-maxlength="5000" rows="1" md-select-on-focus ng-blur="setFormPopulated()"></textarea>
            </md-input-container>

            <div layout="row" layout-align="start" flex>
                <md-input-container>
                    <label>Result</label>
                    <md-select ng-model="pick.result">
                        <md-option ng-repeat="resultValue in resultValues" ng-value="resultValue.value">
                            {{resultValue.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start" ng-show="!editPickMode">
                <md-input-container>
                    <md-button ng-disabled="!isFormPopulated" class="md-raised md-primary" type="submit" ng-click="savePick()">Submit</md-button>
                </md-input-container>

            </div>
            <div layout="row" layout-align="start" ng-show="editPickMode">
                <md-input-container>
                    <md-button class="md-raised md-primary" type="submit" ng-click="updatePick()">Update Pick</md-button>
                    <md-button class="md-raised md-secondary" type="submit" ng-click="cancelEdit()">Cancel</md-button>
                </md-input-container>

            </div>
        </md-content>
    </form>
</div>

<div flex-gt-sm="100" flex>
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">Saved Picks</md-subheader>
            <span class="md-caption">Sort By: </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <span class="Regular 12px" ng-click="sortBy('league')">League &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span class="md-caption" ng-click="sortBy('homeTeam')">Home &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="md-caption" ng-click="sortBy('visitingTeam')">Visitor &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="md-caption" ng-click="sortBy('eventDate')">Event Date &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <br>
            <md-list-item class="md-3-line" ng-repeat="pick in savedPicks | orderBy:propertyName:reverse" ng-click="showPickDetails(pick)">
                <img ng-src="{{pick.pickLogo}}" class="md-avatar md-avatar-size" alt="{{pick.pickTeam}}" />
                <div class="md-list-item-text" layout="column">
                    <h5 class="md-title">{{ pick.pickTeam }}, {{pick.eventDate| date:'shortDate'}} </h5>
                    <p class="md-body-2">{{ pick.visitingTeam }} @ {{pick.homeTeam}}</p>

                    <p ng-class="{'result_win':(pick.result===1),'result_loss':(pick.result===-1)}">{{ (pick.result===1)?'Win':(pick.result===-1)?'Loss':'' }}</p>
                </div>
                <md-icon md-svg-src="../images/ic_mode_edit.svg" class="md-secondary" aria-label="Edit Pick" ng-click="editPick(pick)">
                </md-icon>
                <md-icon md-svg-src="../images/ic_mode_delete.svg" class="md-secondary" aria-label="Delete Pick" ng-click="deletePick(pick)">
                </md-icon>



            </md-list-item>

        </md-list>
    </md-content>

</div>