<h2>Hello {{globals.currentUser.name}}</h2>
<h3>Enter a Pick to Promote</h3>

<div ng-controller="AlertCtrl">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in $parent.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

</div>

<div ng-controller="ButtonsCtrl" ng-show="visibilityFlags.showLeagueSelect">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="$parent.sportType" uib-btn-radio="'nhl'" ng-click="loadTeamList()">NHL</label>
        <label class="btn btn-primary" ng-model="$parent.sportType" uib-btn-radio="'mlb'" ng-click="loadTeamList()">MLB</label>
    </div>
</div>

<div ng-show="visibilityFlags.showPick" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pick Details</h3>
    </div>    
    <div class="panel-body">
        <label>{{pick.league | uppercase}}</label><br>
        <label ng-show="pick.visitingTeam != null">{{pick.visitingTeam}} @ {{pick.homeTeam}}</label><br>
        <label ng-show="pick.eventDate!=null">Event Date: {{pick.eventDate| date:'shortDate'}}</label><br>
        <label ng-show="visibilityFlags.showDescription">Pick comments: <input ng-model="pick.description"></label><br>
        <label ng-show="pick.description!=null" class="btn btn-primary" ng-click="savePick()">Save</label><br>
        
    </div>
</div>
<br/>

<div class="homeTeamTable" ng-show="visibilityFlags.showVisitingTable">
    <label>Visiting Team: <input ng-model="search.$"></label> <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2"><h5>Team Name</h5></td>
            </tr>
            <tr ng-repeat="team in teams  | filter:search:strict">
                <td>{{team.name}}</td>  
                <td>
                    <!--<button type="button" class="btn btn-primary" ng-click="setHome(team.name)">-->
                    <button type="button" class="btn btn-primary" ng-click="pick.visitingTeam = team.name;visibilityFlags.showHomeTable=true;visibilityFlags.showVisitingTable=false;">
                        Select!
                    </button>
                </td>                    
            </tr>
        </tbody>
    </table>
</div>    
    
<div class="homeTeamTable" ng-show="visibilityFlags.showHomeTable">
    <label>HomeTeam: <input ng-model="search.$"></label> <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2"><h5>Team Name</h5></td>
            </tr>
            <tr ng-repeat="team in teams  | filter:search:strict">
                <td>{{team.name}}</td>  
                <td>
                    <!--<button type="button" class="btn btn-primary" ng-click="setHome(team.name)">-->
                    <button type="button" class="btn btn-primary" ng-click="pick.homeTeam = team.name;visibilityFlags.showHomeTable=false;visibilityFlags.showVisitingTable=false;visibilityFlags.showEventDateInput=true;setDefaultEventDate();">
                        Select!
                    </button>
                </td>                    
            </tr>
        </tbody>
    </table>
</div>
<div ng-controller="DatepickerPopupDemoCtrl" ng-show="visibilityFlags.showEventDateInput">
    <div class="row">
      <div class="col-md-6">
        <label>Date of Event:</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="pick.eventDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
            </button>
            <button type="button" class="btn btn-default" aria-label="Check Box" ng-click="visibilityFlags.showEventDateInput=false;visibilityFlags.showDescription=true;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>

        </p>
      </div>
    </div>
</div> 

<div ng-controller="AccordionCtrl">
    <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            Previous Picks
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

   <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" heading="{{pick.league}}: {{pick.homeTeam}} @ {{pick.visitingTeam}}, {{pick.eventDate| date:'shortDate'}}" ng-repeat="pick in savedPicks">
        Description: {{pick.description}}<br>
        
        </div>
    </uib-accordion>
</div>
