<div ng-controller="AlertCtrl">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
  
</div>
<md-content layout-padding class="md-loginTransparent">
    <form name="loginForm"  ng-show="!showResetPassword">
      <div layout="column" layout-align="center">

            <div layout="row">
              <div  flex="66" flex-offset="15">
                <md-input-container class="md-block md-loginInput">
                  <label>Email Address:</label>
                  <input required name="emailAddress" ng-model="emailAddress">
                  <div ng-messages="loginForm.emailAddress.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div flex>            
              </div>
            </div>

            <div layout="row">
              <div  flex="66" flex-offset="15">
                <md-input-container class="md-block">
                  <label>Password:</label>
                  <input required type="password" step="any" name="password" ng-model="password" min="8"  />

                  <div ng-messages="loginForm.password.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                      You need a password.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div flex>
              </div>
            </div>

            <div layout="column" layout-align="center center">
              <div>
                  <md-button class="md-raised md-primary" type="submit" ng-click="login();">Login</md-button>
              </div>
              <div>
                  <h5>or</h5>
              </div>
              <div>
                  <md-button class="md-raised md-secondary" click-nav="/Register">Register</md-button>
              </div>
              <div>
                  <md-button  class="md-warn" ng-click="showResetPassword = !showResetPassword">Forgot Password?</md-button>
              </div>                                           
            </div>

      </div>
    </form>
    <form name="resetPasswordForm" ng-show="showResetPassword">
        <div layout="column" layout-align="center">
                 <div layout="row">
                          <div  flex="66" flex-offset="15">
                            <md-input-container class="md-block">
                              <label>Email Address:</label>
                              <input required name="emailAddress" ng-model="emailAddressResetPassword">
                              <div ng-messages="resetPasswordForm.emailAddress.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                            </md-input-container>
                          </div>
                          <div flex>            
                          </div>
                 </div>
                 <div layout="column" layout-align="center center">
                          <div>
                                <md-button class="md-raised md-primary" type="submit" ng-click="resetpassword();">Reset Password</md-button>
                          </div>   
                          
                          <div>
                              <h5>or</h5>
                          </div>                          
                          <div>
                              <md-button class="md-raised md-primary" type="submit" ng-click="showResetPassword = !showResetPassword">Login</md-button> <md-button class="md-raised md-secondary" click-nav="/Register">Register</md-button>
                          </div>       
                  </div>
        </div>
    </form>
 </md-content>    



