<form name="loginForm">
  <div layout="column">
    <div style="min-height: 270px;">

    </div>

    <div layout="row">
      <div flex="20"></div>
      <div flex="60">

        <md-input-container class="md-block">
          <label>Email Address:</label>

          <md-icon md-svg-src="../images/ic_mail_outline_white_24px.svg"></md-icon>

          <input required name="emailAddress" type="string" ng-model="emailAddress" min="4" max="30" md-no-asterisk pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
          <div ng-messages="loginForm.emailAddress.$error">
            <div ng-message="required">This is required.</div>

            <div ng-message="min">
              You need at least 4 characters in your email.
            </div>
            <div ng-message="pattern">
              This is not a valid email format.
            </div>
            <div ng-message="max">
              Your email address cannot contain over 30 characters.
            </div>
          </div>
        </md-input-container>
      </div>
      <div flex="20"></div>
    </div>

    <div layout="row">
      <div flex="20"></div>
      <div flex="60">

        <md-input-container class="md-block">
          <label>Password:</label>
          <md-icon md-svg-src="../images/ic_lock_outline_white_24px.svg"></md-icon>
          <input required type="password" step="any" name="password" ng-model="password" min="8" md-no-asterisk />
          <div ng-messages="loginForm.password.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              You need a password.
            </div>
          </div>
        </md-input-container>
      </div>
      <div flex="20"></div>
    </div>
    <div align="center">
      <div>
        <!-- <md-button class="md-raised md-primary" type="submit" ng-click="login();">Login</md-button> -->
        <img src="images\PHP-logoButtonLogin.png" ng-click="login();">
      </div>
    </div>

    <div layout="row" layout-padding>
      <div flex="5"></div>
      <div flex="grow" align="center">
        <a href="#!/ResetPassword" class=".md-title loginPageLinks">Forget Password?</a>
      </div>
      <div flex="5">

      </div>
      <div flex="grow" align="center">
        <a href="#!/Register" class=".md-title loginPageLinks">Create Account</a>
      </div>
      <div flex="5"></div>
    </div>
  </div>
</form>