<h3 class="md-headline">Promoted Picks</h3>
<span class="md-subhead">Sort By: </span>&nbsp;&nbsp;&nbsp;&nbsp;
<span class="Regular 12px" ng-click="sortBy('league')">League &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;
<span class="Regular 12px" ng-click="sortBy('homeTeam')">Home &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;
<span class="Regular 12px" ng-click="sortBy('visitingTeam')">Visitor &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;
<span class="Regular 12px" ng-click="sortBy('eventDate')">Event Date &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>

<div ng-controller="AccordionCtrl">
    <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            Previous Picks
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

   <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" heading="{{pick.league}}: {{pick.visitingTeam}} @ {{pick.homeTeam}}, {{pick.eventDate| date:'shortDate'}}" ng-repeat="pick in savedPicks  | orderBy:propertyName:reverse">
        Description: {{pick.description}}<br>
        
        </div>
    </uib-accordion>
</div>