<div flex-gt-sm="100" flex>
  <md-content>
    <md-list flex>
      <md-subheader class="md-no-sticky">Promoted Picks</md-subheader>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="md-subhead">Sort By: </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <span class="Regular 12px" ng-click="sortBy('league')">League &nbsp;<i class="fa fa-sort" aria-hidden="true"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp; -->
      <span class="md-subhead" ng-click="sortBy('homeTeam')">Home &nbsp;
        <i class="fa fa-sort" aria-hidden="true"></i>
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="Regular 12px" ng-click="sortBy('visitingTeam')">Visitor &nbsp;
        <i class="fa fa-sort" aria-hidden="true"></i>
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="Regular 12px" ng-click="sortBy('eventDate')">Event Date &nbsp;
        <i class="fa fa-sort" aria-hidden="true"></i>
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
      <br>
      <md-list-item class="md-3-line" ng-repeat="pick in savedPicks | orderBy:propertyName:reverse" ng-click="showPickDetails(pick)">
        <img ng-src="{{pick.pickLogo}}" class="md-avatar md-avatar-size" alt="{{pick.pickTeam}}" />
        <div class="md-list-item-text" layout="column">
          <h2>{{ pick.pickTeam }}, {{pick.eventDate| date:'shortDate'}} </h2>
          <h4>{{ pick.visitingTeam }} @ {{pick.homeTeam}}</h4>

          <!-- <p ng-class={'result_win':(pick.result===1),'result_loss':(pick.result===-1)}>{{ (pick.result===1)?'Win':(pick.result===-1)?'Loss':'' }}</p> -->
          <p ng-class="{'result_win':(pick.result===1),'result_loss':(pick.result===-1)}">{{ (pick.result===1)?'Win':(pick.result===-1)?'Loss':'' }}</p>
        </div>

      </md-list-item>

    </md-list>
  </md-content>

</div>