<div ng-controller="AlertCtrl">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
  
</div>
<md-content layout-padding>
    <form name="registerForm">
      <div layout="column" layout-align="center">

          <div layout="row">
              <div  flex="66" flex-offset="15">
                <md-input-container class="md-block">
                  <label>Name:</label>
                  <input required name="customerName" type="string" ng-model="customerName" min="2"
                      max="50" >
                  <div ng-messages="registerForm.customerName.$error"  multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="min">
                      You need at least 4 characters in your email. 
                    </div>
                    <div ng-message="max">
                      Your name cannot contain over 50 characters.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div flex>             
              </div>
            </div>        

          <div layout="row">
            <div  flex="66" flex-offset="15">
              <md-input-container class="md-block">
                <label>Email Address:</label>
                <input required name="email" type="string" ng-model="email" min="4"
                    max="30" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                <div ng-messages="registerForm.email.$error"  multiple md-auto-hide="false">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="min">
                    You need at least 4 characters in your email. 
                  </div>
                  <div ng-message="pattern">
                    This is not a valid email format.
                  </div>
                  <div ng-message="max">
                    Your email address cannot contain over 30 characters.
                  </div>
                </div>
              </md-input-container>
            </div>
            <div flex>             
            </div>
          </div>

          <div layout="row">
            <div  flex="66" flex-offset="15">
              <md-input-container class="md-block">
                <label>Password:</label>
                <input required type="string" step="any" name="password" ng-model="password" min="8" max="20" />
                <div ng-messages="registerForm.password.$error" multiple md-auto-hide="false">
                  <div ng-message="required">
                    You need a password.
                  </div>
                  <div ng-message="min">
                    You need at least 4 characters in your email. 
                  </div>
                  <div ng-message="max">
                    Your email address cannot contain over 30 characters.
                  </div>
                </div>
              </md-input-container>
            </div>
            <div flex>
            </div>
          </div>

          <div layout="column" layout-align="center center">
            <div>
                <md-button type="submit" class="md-primary md-raised" ng-click="register();">Register</md-button>
            </div>
            <div>
                <h5>or</h5>
            </div>
            <div>
                <md-button class="md-raised md-secondary" click-nav="/Login">Login</md-button>
            </div>            

          </div>

      </div>
    </form>
 </md-content>    




