<form name="resetPasswordForm">
    <div layout="column">

        <div style="min-height: 270px;">

        </div>

        <div layout="row">
            <div flex="20"></div>
            <div flex="60">

                <md-input-container class="md-block">
                    <label>Email Address:</label>

                    <md-icon md-svg-src="../images/ic_mail_outline_white_24px.svg"></md-icon>
                    <input required name="email" type="string" ng-model="email" min="4" max="30" md-no-asterisk pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                    <div ng-messages="resetPasswordForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">
                            This is not a valid email format.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div flex="20"></div>
        </div>

        <div align="center">
            <div>
                <img src="images\PHP-logoReset.png" ng-click="resetpassword();">
            </div>
        </div>



        <div layout="row" layout-align="center center" layout-padding>
            <div flex="grow" align="center">
                <a href="#!/Login" class=".md-title" style="color:#6f7b86">Sign In</a>
            </div>
        </div>
    </div>
</form>