
<div ng-controller="AlertCtrl">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in $parent.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

</div>



<h1>Enter a Bet to Track</h1>
<!--<div ng-controller="ButtonsCtrl" ng-show="visibilityFlags.showLeagueSelect">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="$parent.sportType" uib-btn-radio="'nhl'" ng-click="loadTeamList()">NHL</label>
        <label class="btn btn-primary" ng-model="$parent.sportType" uib-btn-radio="'mlb'" ng-click="loadTeamList()">MLB</label>
    </div>
</div>-->

<div class="md-padding" ng-cloak ng-show="visibilityFlags.showLeagueSelect">
  <div>
    <div layout="row">
      <md-input-container>
        <label>Leagues</label>
        <md-select ng-model="selectedLeague" md-selected-text="getSelectedText()">
          <md-optgroup label="Leagues">
            <md-option ng-value="league" ng-repeat="league in leagues">{{league}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>

<!--<div class="md-padding" ng-cloak visibilityFlags.showVisitingTable>
  <div>
    <div layout="row">
      <md-input-container>
        <label>Visiting Team</label>
        <md-select ng-model="bet.visitingTeam"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple="false">
            <md-select-header class="demo-select-header">
                <input id=searchTermTeamInput ng-model="searchTerm"
                    type="search"
                    placeholder="Search for a team.."
                    class="demo-header-searchbox md-text">
                    <div search-input-text-field ></div>
            </md-select-header>
            <md-optgroup label="team">
                <md-option ng-value="team.name" ng-repeat="team in teams |
                filter:searchTerm">{{team.name}}</md-option>
            </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
 </div>
</div>-->

<div search-input-text-field-select-list visible="visibilityFlags.showVisitingTable" items="teams" selectedItem="bet.visitingTeam"></div>


    
    <!--todo - check out this: https://angular-ui.github.io/bootstrap/#!#%2Ftypeahead-->
<div ng-show="visibilityFlags.showBet" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bet Details</h3>
    </div>    
    <div class="panel-body">
        <label>{{bet.league | uppercase}}</label><br>
        <label ng-show="bet.visitingTeam != null">{{bet.visitingTeam}} @ {{bet.homeTeam}}</label><br>
        <label ng-show="bet.eventDate!=null">Event Date: {{bet.eventDate| date:'shortDate'}}</label><br>
        <label ng-show="bet.wager != null">Wager: ${{bet.wager}}</label></br>
        <label ng-show="bet.result != null">Result: ${{bet.result}}</label><br>
        <label ng-show="visibilityFlags.showSave" class="btn btn-primary" ng-click="saveBet()">Save</label>
    </div>
</div>
<br/>



<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>   
<div class="homeTeamTable" ng-show="visibilityFlags.showVisitingTable">
    <label>Visiting Team: <input ng-model="search.$"></label> <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2"><h5>Team Name</h5></td>
            </tr>
            <tr ng-repeat="team in teams  | filter:search:strict">
                <td>{{team.name}}</td>  
                <td>
                    <!--<button type="button" class="btn btn-primary" ng-click="setHome(team.name)">-->
                    <button type="button" class="btn btn-primary" ng-click="bet.visitingTeam = team.name;visibilityFlags.showHomeTable=true;visibilityFlags.showVisitingTable=false;">
                        Select!
                    </button>
                </td>                    
            </tr>
        </tbody>
    </table>
</div>    
    
<div class="homeTeamTable" ng-show="visibilityFlags.showHomeTable">
    <label>HomeTeam: <input ng-model="search.$"></label> <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2"><h5>Team Name</h5></td>
            </tr>
            <tr ng-repeat="team in teams  | filter:search:strict">
                <td>{{team.name}}</td>  
                <td>
                    <!--<button type="button" class="btn btn-primary" ng-click="setHome(team.name)">-->
                    <button type="button" class="btn btn-primary" ng-click="bet.homeTeam = team.name;visibilityFlags.showHomeTable=false;visibilityFlags.showVisitingTable=false;visibilityFlags.showEventDateInput=true;setDefaultEventDate();">
                        Select!
                    </button>
                </td>                    
            </tr>
        </tbody>
    </table>
</div>
<div ng-controller="DatepickerPopupDemoCtrl" ng-show="visibilityFlags.showEventDateInput">
    <div class="row">
      <div class="col-md-6">
        <label>Date of Event:</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="bet.eventDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
            </button>
            <button type="button" class="btn btn-default" aria-label="Check Box" ng-click="visibilityFlags.showEventDateInput=false;visibilityFlags.showWagerInput=true;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>

        </p>
      </div>
    </div>
</div> 

<div class="wagerInput" ng-show="visibilityFlags.showWagerInput">
    <label>Wager: <input ng-model="bet.wager"></label>
        <button type="button" class="btn btn-default" aria-label="Check Box" ng-click="visibilityFlags.showWagerInput=false;visibilityFlags.showResultInput=true;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
</div>
<div class="resultInput" ng-show="visibilityFlags.showResultInput">
    <label>Result: <input ng-model="bet.result"></label>
        <button type="button" class="btn btn-default" aria-label="Check Box" ng-click="visibilityFlags.showResultInput=false;visibilityFlags.showSave=true;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
</div>

<div ng-controller="AccordionCtrl">
    <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            Saved Bets
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

   <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" heading="{{bet.league}}: {{bet.homeTeam}} @ {{bet.visitingTeam}}, {{bet.eventDate| date:'shortDate'}}" ng-repeat="bet in savedBets">
        Wager: {{bet.wager}}<br>
        Result: {{bet.result}}<br>
        </div>
    </uib-accordion>
</div>

