
<div ng-controller="AlertCtrl">
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in $parent.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

</div>


<div ng-cloak layout="column" layout-align="start" ng-cloak>
    <md-content layout-padding>    
        <h3>Enter a Bet to Track</h3>
        <div layout="row" layout-align="start" ng-cloak>
            <md-input-container>
                <md-select ng-model="bet.league" md-selected-text="getSelectedText()" placeholder="League">
                    <md-optgroup label="leagues">
                        <md-option ng-value="league" ng-repeat="league in leagues">{{league}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>


        <div layout="row" layout-align="start" flex> 
                <div flex="45">
                    <div search-input-text-field-select-list visible="true" label='Visiting team' label2='{{messageOnOpen}}' items="teams" bind="bet.visitingTeam" action="setVisitingTeam()"></div>
                </div>
                <div flex="5" hide-xs hide-sm>
                
                </div>            

                <div flex="45">
                    <div search-input-text-field-select-list visible="true" label='Home team' label2='{{messageOnOpen}}' items="teams" bind="bet.homeTeam" action="setHomeTeam()"></div>
                </div>
                <div flex="5" hide-xs hide-sm>
                
                </div>
        </div>        
        <div layout="row" layout-align="start" flex>
            <md-input-container class="md-block">        
                <md-datepicker ng-model="bet.eventDate" md-placeholder="Enter event date"></md-datepicker>
            </md-input-container>
        </div>


        <div layout="row" layout-align="start">
            <div>
                <md-input-container>
                        <label>Wager</label>
                        <input type="number" step="any" name="wager" ng-model="bet.wager" min="1"
                            max="10000"/>
                        <div ng-messages="wager.$error" md-auto-hide="false">
                            <div ng-message="min">
                                If your bets are under $1, please use another app to record them.
                            </div>
                            <div ng-message="max">
                                Max wager is $10,000.
                            </div>
                        </div>
                </md-input-container>  
            </div>  
        </div>
        <div layout="row" layout-align="start">
            <div>
                <md-input-container>
                        <label>Result</label>
                        <input type="number" step="any" name="result" ng-model="bet.result"
                            max="10000"/>
                        <div ng-messages="bet.result.$error" multiple md-auto-hide="false">
                            <div ng-message="max">
                                Max result is $100,000.
                            </div>
                        </div>
                </md-input-container> 
            </div>  
        </div>
        <div layout="row" layout-align="start">
            <md-input-container>
                <md-button class="md-raised md-primary" type="submit" ng-click="saveBet()">Submit</md-button>
            </md-input-container>
        </div>      
    </md-content>
</div>
<div ng-controller="AccordionCtrl">
    <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            Saved Bets
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

   <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" heading="{{bet.league}}: {{bet.homeTeam}} @ {{bet.visitingTeam}}, {{bet.eventDate| date:'shortDate'}}, Create Date: {{bet.createDate| date:'short'}}" " ng-repeat="bet in savedBets| orderBy:bet.createDate:reverse">
        Wager: {{bet.wager}}<br>
        Result: {{bet.result}}<br>
        
        </div>
    </uib-accordion>
</div>

